@model IEnumerable<MusicStore.Domain.DomainModels.UserPlaylist>

@{
    ViewData["Title"] = "My Playlists";
}

<div class="container mt-5 text-white">
    <div class="d-flex flex-row justify-content-between mt-5 mb-5">
        <h1 class="display-4">My playlists</h1>
        <div class="d-flex flex-column justify-content-center">
            <a class="btn btn-dark" asp-action="Create">Create New Playlist</a>
        </div>
    </div>
    @if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Total Tracks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalTracks)</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-outline-primary">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-outline-secondary">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-outline-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>    
    }
    @if (!Model.Any())
    {
        <div class="row fw-bold">
            <div class="col-12">
                <p class="text-center">No playlists found.</p>
            </div>
        </div>
    }
</div>
