@model MusicStoreApp.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
